@CHARSET "UTF-8";

.myfieldset {
	min-width: 330px;
	table-layout: fixed;
	border-width:1;
	border-style:ridge;
	border-color:blue;
	border-radius: 1px;
	border-bottom: 1px solid #00b2ef;
	}

.mylegend {
	border:none;
	text-align: left;
	color: #00b2ef;
	}

.full-width {
	width: 95%;
}

input {
	max-width:100%;
	font-size: 125%;
	autocorrect: off;
}

.in-label {	
	text-align: right;
	width: 25%;
}

.canvas {
	text-align: left;
	margin: auto;
    width: 90%;
	height: 100%;
}

td {
	white-space: nowrap;
}

img {
  max-width: 100%;
}

a {
	data-transition: slide;
}

.navtable {
	position: fixed;
    bottom: 0;
    max-width: 95%;
    z-index: 15;
}

.mid-dle {
	text-align: center;
}
  
.smallblue {
	color: #00b2ef;
}

#mid {
	text-align: center;
	vertical-align: middle;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    visibility: hidden;
}
#twitter-handle-lookup {
	width: 300px;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #00b2ef;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    visibility: hidden;
}

#twitter-handle-lookup-table {
	width: 300px;
    height: 200px;
}

.bot-text {
	vertical-align: bottom;
	padding: 5px;
}

.top-text {
	vertical-align: top;
	padding: 5px;
}

#p-header {
    background-color: #02d896;
    height: 8%;
    visibility: inherit;
}

#p-photos {
	background-color: white;
	position: absolute;
    visibility: inherit;
/*	border: solid 2px red; */
}

#page1 {
    height: 100%;
    z-index: 10;
	visibility: visible;
}

#page2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #546169;
    visibility: hidden;
}

#page3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    visibility: hidden;
}

  
  
  