@CHARSET "UTF-8";

* {
	box-sizing: border-box;
}

h2 {
	color: #00b2ef;
	font-size: 27px;
}

.col-xs-10 {
    width: 83.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-2 {
    width: 16.6667%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;    
}

.col-lg-12 {
	padding-left: 15px;
}

body {
	max-width: 700px;
	color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.myfieldset {
	min-width: 330px;
	table-layout: fixed;
	border-width:0;
    max-width: 100%;
    border-bottom: 1px solid #00b2ef;
	}

.mylegend {
	border:none;
	text-align: left;
	color: #00b2ef;
	font-size: 19.5px;
    margin-bottom: 18px;
    }

.full-width {
	width: 95%;
}

input {
	font-size: 125%;
	autocorrect: off;
}

.in-label {	
	text-align: right;
}

.canvas {
	text-align: left;
	margin: auto;
    width: 90%;
	height: 100%;
}

td {
	white-space: nowrap;
}

img {
  max-width: 100%;
}

a {
	data-transition: slide;
}

.row {
	clear: both;
	margin-left: 15px;
    margin-right: 15px;
}

.row::after {
    content: " ";
    display: table;
    clear: both;
}

.row .row {
    margin-left: 0;
    margin-right: 0;
}

.header {
	background: #f2fafc none repeat scroll 0 0;
    border-bottom: 1px solid #00b2ef;
    margin: 0 0 30px;
    padding-top: 10px;
    display: table;	
 	content: " ";
    
}



.navtable {
	position: fixed;
    bottom: 0;
    max-width: 95%;
    z-index: 15;
}

.mid-dle {
	text-align: center;
}
  
.smallblue {
	color: #00b2ef;
}

#mid {
	text-align: center;
	vertical-align: middle;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    visibility: hidden;
}
#twitter-handle-lookup {
	width: 300px;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #00b2ef;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    visibility: hidden;
}

#twitter-handle-lookup-table {
	width: 300px;
    height: 200px;
}

.bot-text {
	vertical-align: bottom;
	padding: 5px;
}

.top-text {
	vertical-align: top;
	padding: 5px;
}

#p-header {
    background-color: #404041;
    color:white;
    height: 8%;
    visibility: inherit;
    text-align: center;
    font-size: 5vh;
}

#p-photos {
	background-color: #F2FAFC;
	position: relative;
    visibility: inherit;
    max-width: 700px; 
    border-bottom: 1px solid #00b2ef;   
/*	border: solid 2px red; */
}

#p-compat {
/*	border: solid 2px red; */
	background-color: white;
	position: relative;
	top: 10px;
    width: 100%;    
}

.p-table {
	table-layout: fixed;
	color: black;	
}

.graph {
	width: 100%;
}

.centre {
	text-align: center;
}

.bigGreen {
	color: white;
	background-color: #09afeb;
	font-size: 1.3em;
	position: relative;
	align-items: center;
	width: 80%;
	left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#page1 {
    height: 100%;
    z-index: 10;
	visibility: visible;
}

#page2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 700px;
    z-index: 1;
    background-color: white;
    visibility: hidden;
}

#page3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    visibility: hidden;
}

div#tipDiv {
    font-size:11px;
    line-height:1.2;
    color:#000; 
    background-color:#E1E5F1; 
    border:1px solid #667295; 
    padding:4px;
    width:250px; 
}
  